@font-face {
  font-family: LogoFont;
  src: url("../../assets/BebasNeue-Regular.ttf");
  
}
@font-face {
  font-family: HeaderFont;
  src: url("../../assets/Montserrat-Regular.ttf");
  
}
@font-face {
  font-family: MainFont;
  src: url("../../assets/Roboto-Regular.ttf");
  
}
header {
  background-color: #ff0000;
  box-shadow:12px black;
  height: 102px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 3vw;

}



#FooterRight{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
}
#dropbar{
   margin:0px 16px ;
   
}

#dropbar :hover{
   cursor: pointer;
   background-color:  rgb(255, 255, 255);
   color: rgb(0, 0, 0);
   padding: 16px;
   font-weight: 400;

}

#Logo {
  font-size: xx-large;
   font-weight: bold;
   font-family: LogoFont;
   color: white;
  }

footer {
  background-color: rgb(0, 0, 0);
  height: 164px;
  
}


#navlin{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: HeaderFont;
  font-size:small;
  font-weight: 600;
 
  
}

#navlin:hover {
  color: rgb(0, 0, 0);
}

#navlin:active {
  color: rgb(255, 210, 9);
  text-shadow: 24px rgb(0, 0, 0);
  
}