#cardsEdu{
   height: 320px;
   width: 240px;
}
#body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 88vh;
}
#cardbody{
    width: 64vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
}
#educimg{
    height: 240px;
    border-radius: 100%;
    width:  240px;
    background-color: brown;
}
#cardsEdu > p{
    font-size: larger;
    text-align: center;
}  