#cardsEdu{
   height: 320px;
   width: 240px;
}
h1{
    margin: 4% 0%;
}
h1 > span {
    color: red;
}
#body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: MainFont;
    padding: 4% 8%;
}
#cardbody{
    width: 64vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
}
#educimg{
    height: 240px;
    border-radius: 100%;
    width:  240px;
    background-color: brown;
}
#cardsEdu > p{
    font-size: larger;
    text-align: center;
}  