
  #dropbar{
    padding: 0px 16px;
  }
  main{
    padding: 0px 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
  
  }
  #Logo {
     font-size: x-large;
     font-variant: small-caps;
     color: rgb(255, 255, 255);
     font-weight: bold;
  }

#lin{
  text-decoration: none;
  color: black;
}

img{
   height: 32px;
   width: 32px;
}

  #body {
    height: 100vh;
    padding: 8%;
    background-image: linear-gradient(red, rgb(144, 235, 255)); 
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  #imga{
    height: 480px;
    width: 560px;
    border-radius: 8px;
    box-shadow: 5px white transparent;
  }
  
  .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
  }
  .cards > div{
    background-color: rgb(233, 233, 233);
    width: 320px;
    height: 240px;
    margin: 2% 1% ;
    padding: 16px;
  }
  .card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    max-width: 300px;
    margin: auto;
    text-align: center;
}
#lin > img {
  height: 180px;
  width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translate(0px ,8px);
}

.card a {
    text-decoration: none;
    color: #333;
}

.card h3 {
    margin-bottom: 10px;
    color: #444;
}
#DescText{
    width: 77vw;
    font-size: x-large;
    margin: 80px;
    color: rgb(0, 0, 0);
    text-shadow: 4px white;
    
  }