
  #dropbar{
    padding: 0px 16px;
  }
  main{
    padding: 0px 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  #Logo {
     font-size: x-large;
     font-variant: small-caps;
     color: rgb(255, 255, 255);
     font-weight: bold;
  }

#lin{
  text-decoration: none;
  color: black;
}

  

  #body {
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  img{
    height: 320px;
    width: 420px;
  }
  
  .cards{
    display: flex;
    flex-direction: row;
  
  }
  .cards > div{
    background-color: rgb(233, 233, 233);
    width: 320px;
    height: 200px;
    margin: 2% 1% ;
    padding: 16px;
  }
#DescText{
    width: 72vw;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}