.std-mat{
    height: 320px;
    width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.course >  a{
    color: rgb(0, 0, 0);
    font-size: xx-large;
}
#bdy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 2% 8%;
    height: 120vh;
    font-family: MainFont;
    overflow: scroll;
}
.course-details{
    height: 200px;
    width: 40vw;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;

    box-shadow: 8px red;
    
}