
 #body{
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     height: 720px;
 }
#detail{
    width: 48vw;
 }
table ,th,td{
    border: 2px solid;
    border-collapse: collapse;
    padding: 8px;
    
}

